.scroller {
    margin-top: -64px;
    min-height: 500px;
    height: 500px;
}

.scroller .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.carousel {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 50px;
}

::ng-deep .carousel .tile {
    background: transparent;
    box-shadow: none !important;
    text-align: center;
}

::ng-deep .carousel .tile h1 {
    margin-bottom: 48px;
}

::ng-deep .ngxcarouselPoint li.active {
    background: white !important;
}

.leftRs,
.rightRs {
    cursor: pointer;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
}

.leftRs {
    left: 0;
}

.rightRs {
    right: 0;
}

.leftRs .mat-icon,
.rightRs .mat-icon {
    font-size: 100px;
    height: 100px;
    width: 100px;
    -webkit-transition: font-size 0.125s, height 0.125s, width 0.125s;
    transition: font-size 0.125s, height 0.125s, width 0.125s;
}

.mat-icon:active {
    font-size: 95px !important;
    height: 95px !important;
    width: 95px !important;
}
