.scroller {
    margin-top: -64px;
    min-height: 500px;
    height: 500px;
}

.scroller .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.carousel {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1{
    min-height: 200px;
    background-color: #ccc;
    text-align: center;
    line-height: 200px;
  }
  .leftRs {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
      border-radius: 999px;
      left: 0;
  }

  .rightRs {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 50px;
      box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
      border-radius: 999px;
      right: 0;
  }
