<div class="home-content-block mail">

  <h1>Contacte-nos</h1>
  <h2>orçamentos grátis</h2>

  <div fxLayout="column" fxLayoutAlign="space-around center">

    <div fxLayout="row" fxLayoutAlign="center center" class="row">
      <div fxFlex="66">
        <mat-form-field [floatLabel]="form.options.floatLabel">
          <input matInput placeholder="Nome">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="row">
      <div fxFlex="66">
        <mat-form-field [floatLabel]="form.options.floatLabel">
          <input matInput placeholder="Email">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="row">
      <div fxFlex="66">
        <mat-form-field [floatLabel]="form.options.floatLabel">
          <input matInput placeholder="Assunto">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="row">
      <div fxFlex="66">
        <mat-form-field [floatLabel]="form.options.floatLabel">
          <textarea matInput placeholder="Mensagem"></textarea>
        </mat-form-field>
      </div>
    </div>

  </div>

</div>
