.mail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    padding: 32px 0;
}

.mail .header {
    color: #525251;
    text-align: center;
}

.mail h1 {
    font-weight: 600;
    text-transform: uppercase;
    margin: 12px 0;
}

.mail h3 {
    margin: 12px 0;
}

.form {
    margin-top: 32px;
}

.row {
    width: 100%;
}

.row .form-field {
    background-color: lightgrey;
    padding: 8px;
    margin-bottom: 16px;
}

.row .mat-form-field {
    width: 100%;
}

::ng-deep .row .mat-input-wrapper {
    padding-bottom: 10px;
}

::ng-deep .row .mat-input-underline {
    display: none;
}

::ng-deep .row .mat-form-field-label {
    font-style: italic;
}

.form-buttons {
    margin: 8px 0;
}
