<div class="home-content-block mail" [style.background-image]="'url(' + _background.path + ')'" [style.background-color]="_background.color">

  <div class="header">
    <h1>Contacte-nos</h1>
  </div>

  <div class="form">
    <form [formGroup]="mailForm" novalidate>
      <div fxLayout="column" fxLayoutAlign="space-around center">

        <div fxLayout="row" fxLayoutAlign="center center" class="row">
          <div fxFlex="90" fxFlex.gt-xs="66">
            <div class="form-field">
              <mat-form-field class="color-secondary-text" [floatLabel]="form.options.floatLabel">
                <input matInput formControlName="name" placeholder="Nome" required>

                <mat-error *ngIf="formControls.name.hasError('required')">O campo "Nome" é obrigatório</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="row">
          <div fxFlex="90" fxFlex.gt-xs="66">
            <div class="form-field">
              <mat-form-field class="color-secondary-text" [floatLabel]="form.options.floatLabel">
                <input matInput formControlName="subject" placeholder="Assunto" required>

                <mat-error *ngIf="formControls.subject.hasError('required')">O campo "Assunto" é obrigatório</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="row">
          <div fxFlex="90" fxFlex.gt-xs="66">
            <div class="form-field">
              <mat-form-field class="color-secondary-text" [floatLabel]="form.options.floatLabel">
                <input matInput formControlName="place" placeholder="Localização" required>

                <mat-error *ngIf="formControls.place.hasError('required')">O campo "Localização" é obrigatório</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="row">
          <div fxFlex="90" fxFlex.gt-xs="66">
            <div class="form-field">
              <mat-form-field class="color-secondary-text" [floatLabel]="form.options.floatLabel">
                <textarea matInput formControlName="body" placeholder="Mensagem" rows="5" required></textarea>

                <mat-error *ngIf="formControls.body.hasError('required')">O campo "Mensagem" é obrigatório</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="row">
          <div fxFlex="90" fxFlex.gt-xs="66">
            <div class="form-buttons" align="end">
              <button mat-raised-button color="primary" (click)="sendMail()" [disabled]="!mailForm.valid">Enviar</button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>

</div>
