.main-toolbar {
    background-color: #f3b24c !important;
    z-index: 5;
    position: fixed;
    top: 0;
}

.main-toolbar .fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.main-toolbar.transparent {
    background-color: transparent !important;
}

.mat-menu-item {
    text-transform: uppercase;
}

.main-toolbar .logo img {
    width: 80px;
}

.main-toolbar {
    transition: background 0.25s ease;
}
