.main-toolbar {
    background: transparent;
    transition: background-color 0.25s ease-out;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    margin: 0 -8px;
    z-index: 5;
}

.main-toolbar-innards {
    width: 100%;
}

.main-toolbar-scrolled {
    background-color: black !important;
}
