<mat-toolbar class="main-toolbar" [ngClass]="{'main-toolbar-scrolled': isScrolled}" color="primary">
  <div class="main-toolbar-innards" fxLayout="row">

    <div fxFlex>
      <span>
        <a mat-button routerLink="">REPA</a>
      </span>
    </div>

    <div fxFlex fxLayoutAlign="end end">
      <span>
        <div class="button-row">

          <div fxHide.xs fxHide.sm>
            <a *ngFor="let link of links" mat-button [routerLink]="[link.url]">{{link.label}}</a>
          </div>

          <div fxShow.xs fxShow.sm fxHide="true">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <a *ngFor="let link of links" mat-menu-item [routerLink]="[link.url]">{{link.label}}</a>
            </mat-menu>
          </div>

        </div>
      </span>
    </div>

  </div>
</mat-toolbar>
