.footer {
    height: 200px;
}

.footer.fxClass-xs {
    height: auto;
}

.footer .background {
    height: 100%;
}

.footer .left-block,
.footer .right-block {
    text-align: center;
}

.footer h1 {
    text-transform: uppercase;
}
