<div id="comp-services" class="home-content-block services">

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">

    <div fxFlex="33" class="card">
      <mat-card>
        <img mat-card-image src="/assets/icons/icon_door.png">
        <mat-card-content>
          <mat-card-title>Serviços</mat-card-title>
          <p>Instalações novas</p>
          <p>Reparações</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="33" class="card">
      <mat-card color="primary">
        <img mat-card-image src="/assets/icons/icon_door.png">
        <mat-card-content>
          <mat-card-title>Serviços</mat-card-title>
          <p>Instalações novas</p>
          <p>Reparações</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="33" class="card">
      <mat-card>
        <img mat-card-image src="/assets/icons/icon_door.png">
        <mat-card-content>
          <mat-card-title>Serviços</mat-card-title>
          <p>Instalações novas</p>
          <p>Reparações</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">

    <div fxFlex="33" class="card">
      <mat-card>
        <img mat-card-image src="/assets/icons/icon_door.png">
        <mat-card-content>
          <mat-card-title>Serviços</mat-card-title>
          <p>Instalações novas</p>
          <p>Reparações</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="33" class="card">
      <mat-card color="primary">
        <img mat-card-image src="/assets/icons/icon_door.png">
        <mat-card-content>
          <mat-card-title>Serviços</mat-card-title>
          <p>Instalações novas</p>
          <p>Reparações</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="33" class="card">
      <mat-card>
        <img mat-card-image src="/assets/icons/icon_door.png">
        <mat-card-content>
          <mat-card-title>Serviços</mat-card-title>
          <p>Instalações novas</p>
          <p>Reparações</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">

    <div fxFlex="33" class="card">
      <mat-card>
        <img mat-card-image src="/assets/icons/icon_door.png">
        <mat-card-content>
          <mat-card-title>Serviços</mat-card-title>
          <p>Instalações novas</p>
          <p>Reparações</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="33" class="card">
      <mat-card color="primary">
        <img mat-card-image src="/assets/icons/icon_door.png">
        <mat-card-content>
          <mat-card-title>Serviços</mat-card-title>
          <p>Instalações novas</p>
          <p>Reparações</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="33" class="card">
      <mat-card>
        <img mat-card-image src="/assets/icons/icon_door.png">
        <mat-card-content>
          <mat-card-title>Serviços</mat-card-title>
          <p>Instalações novas</p>
          <p>Reparações</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>
