<div id="comp-services" class="home-content-block services" [style.background-image]="'url(' + _background.path + ')'" [style.background-color]="_background.color">

  <h1 class="color-invert">Serviços</h1>

  <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-around center">

    <div *ngFor="let service of _services" fxFlex="100" fxFlex.sm="50" fxFlex.gt-sm="33" class="card">
      <mat-card>
        <div class="icon">
          <img mat-card-image src="{{service.image}}">
        </div>
        <mat-card-content>
          <mat-card-title>{{service.title}}</mat-card-title>
          <p *ngIf="service.p1">{{service.p1}}</p>
          <p *ngIf="service.p2">{{service.p2}}</p>
          <p *ngIf="service.p3">{{service.p3}}</p>
          <p *ngIf="service.p4">{{service.p4}}</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>
