.map-social {
    background-color: #ea6834;
    height: 400px;
}

.map-social.fxClass-xs {
    height: auto;
}

.map-social .left-block {
    background-color: lightgrey;
    height: 400px;
    width: 100%;
}

agm-map {
    height: 400px;
}

.map-social .right-block {
    padding: 32px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}
