.carousel {
    margin-top: -64px;
    height: 100%;
    text-align: center;
}

.carousel.fxClass-xs {
    height: auto;
}

.carousel .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

ngx-carousel {
    height: 500px;
}

ngx-tile {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
}

::ng-deep .tile {
    background: transparent;
    box-shadow: none !important;
    margin-top: 210px;
    text-align: center;
    padding: 0 16px;
}

::ng-deep .carousel.fxClass-xs .tile h1 {
    font-size: 2em;
}

::ng-deep .ngxcarouselPointDefault {
    margin-top: -100px;
}

::ng-deep .ngxcarouselPoint li {
    margin: 0 8px !important;
}

::ng-deep .ngxcarouselPoint li {
    transform: scale(1);
}

::ng-deep .ngxcarouselPoint li.active {
    background: white !important;
}

.leftRs,
.rightRs {
    cursor: pointer;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
}

.leftRs {
    left: 0;
}

.rightRs {
    right: 0;
}

.leftRs .mat-icon,
.rightRs .mat-icon {
    font-size: 100px;
    height: 100px;
    width: 100px;
    -webkit-transition: font-size 0.125s, height 0.125s, width 0.125s;
    transition: font-size 0.125s, height 0.125s, width 0.125s;
}

.fxClass-xs .leftRs .mat-icon,
.fxClass-xs .rightRs .mat-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
}

.fxClass-xs .mat-icon {
    display: none;
}

.mat-icon:active {
    font-size: 95px !important;
    height: 95px !important;
    width: 95px !important;
}

.mat-chip-list {
    outline: none;
}

.mat-chip-list .mat-chip {
    background-color: #ea6834;
    margin: 0 auto;
    margin-top: 48px;
    text-transform: uppercase;
}
