<div class="home-content-block carousel" ngClass.xs="fxClass-xs" [style.background-color]="_introImage.color">

  <div fxLayout="row" class="background">

    <div fxFlex="100">
      <ngx-carousel [inputs]="_carouselTile">

        <ngx-tile NgxCarouselItem *ngFor="let tile of _carouselTileItems" [style.background-image]="'url(' + tile.background + ')'">
          <h1 class="color-invert">{{tile.title}}</h1>
        </ngx-tile>

        <button NgxCarouselPrev class='leftRs'>
          <mat-icon class="color-invert">keyboard_arrow_left</mat-icon>
        </button>
        <button NgxCarouselNext class='rightRs'>
          <mat-icon class="color-invert">keyboard_arrow_right</mat-icon>
        </button>

      </ngx-carousel>
    </div>

  </div>

</div>
