<div class="home-content-block contacts" ngClass.xs="fxClass-xs">

  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around center" class="background">

    <div fxFlex="100" fxFlex.gt-xs="50" class="left-block color-invert" fxLayoutAlign="center center">
      <img src="{{_leftImage.path}}">
    </div>

    <div fxFlex="100" fxFlex.gt-xs="50" class="right-block color-invert" itemscope itemtype="http://schema.org/LocalBusiness">
      <h1>Reparações 24H</h1>
      <h1>
        <span itemprop="telephone">
          <a href="tel:+351936927100">936 927 100</a>
        </span>
        <span fxHide.lt-lg>/</span>
        <span itemprop="telephone">
          <a href="tel:+351218239653">218 239 653</a>
        </span>
      </h1>
    </div>

  </div>

</div>
