<div class="home-content-block contacts" ngClass.xs="fxClass-xs">

  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around center" class="background">

    <div fxFlex="100" fxFlex.gt-xs="50" class="left-block color-invert" fxLayoutAlign="center center">
      <img src="{{_leftImage.path}}">
    </div>

    <div fxFlex="100" fxFlex.gt-xs="50" class="right-block color-invert">
      <h1>Reparações 24H</h1>
      <h1>965 874 514
        <span fxHide.xs>/</span> 211 222 222</h1>
    </div>

  </div>

</div>
