<div id="comp-description" class="home-content-block description" ngClass.xs="fxClass-xs">

  <div fxLayout="column" fxLayout.gt-xs="row">

    <div fxFlex="100" fxFlex.gt-xs="50" class="left-block" [style.background-image]="'url(' + _leftImage.path + ')'" [style.background-color]="_leftImage.color">
    </div>

    <div fxFlex="100" fxFlex.gt-xs="50" class="right-block color-invert">
      <img src="{{_rightImage.path}}">

      <p>A REPA é uma empresa especializada em todo o tipo de reparações e instalações em residências, prédios, condomínios
        e lojas.
      </p>

      <p>
        Prestamos uma grande variedade de serviços, garantindo qualidade de trabalhos e acabamentos em apenas 24h.
      </p>

      <p>Trabalhamos apenas com profissionais qualificados, de forma a satisfazer as necessidades dos nossos clientes nas mais
        variadas vertentes.
      </p>
    </div>

  </div>

</div>
