<div id="comp-description" class="home-content-block description" ngClass.xs="fxClass-xs">

  <div fxLayout="column" fxLayout.gt-xs="row">

    <div fxFlex.xs="100" fxFlex.gt-xs="50" class="left-block">
      <h1>LOGO</h1>
    </div>

    <div fxFlex.xs="100" fxFlex.gt-xs="50" class="right-block">
      <h1>REPA</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus arcu sed risus imperdiet sagittis. Praesent
        tincidunt nec nunc quis bibendum. Fusce vehicula malesuada mauris nec semper. Curabitur nisl mi, ornare ut magna
        a, pharetra porta dolor.
      </p>
      <p>
        Duis interdum velit vel tellus iaculis finibus. Maecenas tincidunt et sapien viverra pulvinar. Cras porttitor dignissim magna
        tincidunt ullamcorper. Nunc dolor enim, bibendum a tellus et, placerat hendrerit arcu. Nunc ligula sapien, maximus
        in feugiat et, pharetra vitae ante. Morbi nec porttitor dui.
      </p>
    </div>

  </div>

</div>
