.description {
    height: 500px;
}

.description.fxClass-xs {
    height: auto;
}

.description .left-block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
}

.description .right-block {
    background-color: #b5b6ba;
    height: 500px;
}

.description .right-block {
    padding: 32px;
    text-align: center;
}

.description .right-block img {
    margin: 16px 0;
    width: 100%;
}

.description .right-block p {
    font-size: 1.2em;
    text-align: left;
}
