.call-now {
    height: 200px;
}

.call-now.fxClass-xs {
    height: auto;
}

.call-now .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.call-now .left-block,
.call-now .right-block {
    height: 200px;
    text-align: center;
}

.call-now h1 {
    text-transform: uppercase;
    margin: 12px 0;
}

.call-now h2 {
    margin: 12px 0;
}

.call-now .mat-chip.contact {
    border-radius: 34px;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    padding: 12px 24px;
    margin: 0 auto;
}
