.call-now {
    height: 200px;
}

.call-now .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.call-now .left-block,
.call-now .right-block {
    text-align: center;
}

.call-now .left-block h1 {
    text-transform: uppercase;
    font-weight: 500;
}
