<div id="comp-call-now" class="home-content-block call-now" ngClass.xs="fxClass-xs" [style.background-image]="'url(' + _introImage.path + ')'" [style.background-color]="_introImage.color">

  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around center">

    <div fxFlex="100" fxFlex.gt-xs="50" class="left-block color-invert">
      <h1>Reparações 24H</h1>
      <h2>orçamentos grátis</h2>
    </div>

    <div fxFlex="100" fxFlex.gt-xs="50" class="right-block color-invert">
      <h2>ligue já</h2>
      <mat-chip-list>
        <mat-chip class="contact background-color-primary" disabled>
          965874514
        </mat-chip>
      </mat-chip-list>
    </div>

  </div>

</div>
