<div class="intro-image" [style.background-image]="'url(' + introImage.path + ')'"></div>

<mat-card *ngFor="let area of areas; index as i; odd as isOdd; even as isEven">

  <!-- odd row -->
  <div *ngIf="isOdd; else even">
    <div fxLayout="row">
      <div fxFlex="66" fxLayoutAlign="center center">
        <h1 class="mat-headline">{{area.title}}</h1>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex="66">
        <p class="mat-body-1">{{area.content}}</p>
      </div>

      <div fxFlex="33" fxLayoutAlign="end end">
        <img style="max-width: 200px;" [src]="'/assets/images/' + area.img.path">
      </div>
    </div>
  </div>

  <!-- even row -->
  <ng-template #even>
    <div fxLayout="row-reverse">
      <div fxFlex="66" fxLayoutAlign="center center">
        <h1 class="mat-headline">{{area.title}}</h1>
      </div>
    </div>

    <div fxLayout="row-reverse">
      <div fxFlex="66">
        <p class="mat-body-1">{{area.content}}</p>
      </div>

      <div fxFlex="33">
        <img style="max-width: 200px;" [src]="'/assets/images/' + area.img.path">
      </div>
    </div>
  </ng-template>

</mat-card>
